:root {
  --cherry: #FF004A;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
}

.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.heart {
  width: 180px;
  height: 180px;
  position: relative;
  background-color: var(--cherry);
  transform: rotate(-45deg);
  animation: animate 3s linear infinite;
}

.heart::before,
.heart::after {
  content: '';
  background-color: var(--cherry);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  animation: animate 1s linear infinite;
}

.heart::before {
  top: -100px;
}

.heart::after {
  left: 100px;
}

@keyframes animate {
  0% {
    filter:drop-shadow(0 0 70px var(--cherry));
  }
  40% {
    filter:drop-shadow(0 0 50px var(--cherry));
  }  
  80% {
    filter:drop-shadow(0 0 30px var(--cherry));
  }
  100% {
    filter:drop-shadow(0 0 10px var(--cherry));
  }
}
